<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/sidebar.css">

    <title>Waste Management System</title>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a href="#" class="nav_logo"> 
                    <i class='bx bx-layer nav_logo-icon'></i> 
                    <span class="nav_logo-name">Home</span> 
                </a>
                <div class="nav_list"> 
                    <a href="/authority/dashboard" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i> 
                        <span class="nav_name">Profile</span> 
                    </a> 
                    <a href="/authority/view_complaints" class="nav_link"> 
                        <i class='bx bx-message-square-detail nav_icon'></i> 
                        <span class="nav_name">View Complaints</span> 
                    </a> 
                    
                </div>
            </div> 
            <a href="/" class="nav_link"> 
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">SignOut</span> 
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <h4>View Complaints</h4>
                {{#if rows}}
                {{#each rows}}
                    <div class="card5" style="margin-top: 40px;">
                        <div class="row" style="margin-top: 10px; display:flex; flex-direction:row">
                            <div class="col-sm-4" >
                                <img src="{{this.imageUrl}}" style="width:200px; height:200px">
                                <p>
                                <h3>User's Name : {{this.userName}}</h3>
                                </p>
                            </div>
                            <div class="col-sm-4" style="align-content: flex-start; margin-left:20px; margin-right:50px;width:50%">
                           
                                 <strong><h3 style="color: blue;">Message :</h3></strong>
                                <h3>{{this.message}}</h3><br>
                                <strong><h3>Locality : {{this.locality}}</h3></strong><br>
                                <strong><h3>Location : {{this.location}}</h3></strong><br>
 
                                <strong><h3>Status : {{this.status}}</h3></strong>
                            </div>
 
                            <div class="col-sm-4" style="display:flex !important;justify-content:flex-end; width: 50%;">
                                <Strong>
                                    <h2 style="color: blue;">Complaint ID : {{this._id}}</h2>
                                </Strong><br>
                            </div>
                        </div>
                         <div class="row" style="margin-top: 2px; display:flex; flex-direction:row">
                            <div class="col-sm-4" style="width: 50%;">
                                <form method="get" action="/authority/view_complaint/viewed/{{this._id}}">
                                    <input type="submit" style="text-emphasis-color: #ffffff;" class="button" action="#"
                                        value="Viewed">
                                </form>
                            </div>
                            <div class="col-sm-4" style="width: 50%;">
                                <form method="get" action="/authority/view_complaint/sendcleaning/{{this._id}}">
                                    <input type="submit" style="text-emphasis-color: #ffffff;" class="button" action="#"
                                        value="Send cleaning">
                                </form>
                            </div>
                            <div class="col-sm-4" style="width: 50%;">
                                <form method="get" action="/authority/view_complaint/reject/{{this._id}}">
                                    <input type="submit" style="text-emphasis-color: #ffffff;" class="button" action="#"
                                        value="Reject">
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                        <p>Congratulations, there are no complaints for your locality! </p>
                {{/if}}
    </div>
    
</body>
<script src="../public/sidebar.js"></script>
</html>